<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Campfire</string>
    <key>CFBundleExecutable</key>
    <string>campfire</string>
    <key>CFBundleIdentifier</key>
    <string>org.spicygee.campfire</string>
    <key>CFBundleSignature</key>
    <string></string>
    <key>CFBundleIconFile</key>
    <string>campfire.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>IFMajorVersion</key>
    <integer>0</integer>
    <key>IFMinorVersion</key>
    <integer>1</integer>
</dict>
</plist>
